@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
  url('./fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
  url('./fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/***** Custom CSS *****/
@font-face {
  font-family: 'Mavenprobold';
  src: url('./fonts/MavenPro-Bold.ttf') format('truetype'); 
} 
@font-face {
  font-family: 'brushsci';
  src: url('./fonts/BRUSHSCI.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Satisfy-Regular';
  src: url('./fonts/Satisfy-Regular.ttf') format('truetype'); 
}  
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.otf'); 
}  
@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/Quicksand-Bold.ttf') format('truetype'); 
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: Helvetica,Arial,sans-serif;
    padding-top: 100px;
    padding-bottom: 150px;
}
body>.container {
  min-height: 52vh;
}
.home_heading{
    font-family: 'Satisfy-Regular';
}
.homeIntroText{
    color:#014e76;
    font-weight: bold;
    font-size: 18px;
}
.wrapper{
    position: relative;
    min-height: 100%
}
.slide_header{
    color:#014e76;
}
.slide_h4{
    color: #014e76;
}
.simply-head{
	text-align:center;
	font-weight:bold;
	margin:10px 0px;
        clear: both;
}
.simply-head h3{
	font-weight:bold;
        font-size: 40px;
}
.smpl-brdr{
    border-radius:16px;
    padding: 2px 8px;
}

.fnt-gold{
    color:#ffcc33;
}
.fnt-skyblue{
    color: #014e76;
}
.navbar-brand{
    padding: 0px;
}
button:focus {outline:0 !important;}
.btn-smp-green{
	background-color:#81A3DA;
	color:#ffcc33;
}
.btn-smp-green:hover{
    background-color: #4a7ed3;
    color: #ffcc33;
}
.btn-smp-blue{
	background-color:#005a87;
	color:#fff;
}
.btn-smp-orange{
	background-color:#f3ae1a;
	color:#000;
}
.txt-smp-orange{
	color:#f3ae1a;
}
.txt-smp-green{
 /*	background-color: #66cc66;  */
    background-color: #7647a2;
    padding: 8px;
    border-radius: 14px;
    color: #fff;
}
.txt-smp-orange{
    background-color: #f3ae1a;
    padding: 8px;
    border-radius: 14px;
    color: #fff;
}
.txt-smp-blue {
    background-color: #1a67f3;
    padding: 8px;
    border-radius: 14px;
    color: #fff;
}
.txt-smp-pink {
 /* background-color: #b30c4a; */
    background-color: #66cc66;
    padding: 8px;
    border-radius: 50%;
    color: #fff;
}
.smp-links{
    float: right;
    position: relative;
    top: -110px;
    left: -8px;
}
.smp-links>span{
    margin:2px;
    cursor:pointer;
}
.smpl-wish-block{
    display: inline-block;
    max-width: 200px;
    margin: 0 10px;
}

.arrow-links>img{
    position:relative;
    bottom:-140px;
    cursor:pointer;
}
.smp-wish-desc{
    padding:5px;
}
.smp-wish-desc .desc{
    height:42px;
    overflow:hidden;
}
.smp-wish-desc .article_intro{
    height:100px;
    padding: 15px;
    overflow:hidden;
}
.desc{
    font-size: 16px;
}
.grid .smp-wish-desc{
    padding:5px;
    min-height:0px;
}
.article_intro{
    
}
.shareIcons a {
    font-size: 18px;
}
.smp-foot{
    background-color:#014e76;
    padding: 1px;
}
.smp-head{
    background-color:#014e76;
    height: 100px;
    border-bottom: 6px solid rgb(255,204,51);
}
#background-carousel{
    position: relative;
    width: 100%;
}
.carousel,
.carousel-inner {
    width:100%;
    height:100%;
    overflow:hidden;
}

footer{
    color:#ffcc33;
    margin-top: 10px;
}
.smp-footer-links li{
    display:inline;
    padding-right:12px;
	
}
.smp-footer-links li:after {
    content: "\2022";
    padding-left: 12px;
}
.smp-footer-links li:nth-child(n+5):after{
    content: "";
}
.smp-pills .dropdown{
    line-height: 0px;
}
.smp-pills li a{
    border-radius: 0px;
    color:#ffcc33;
    line-height: 0px;
    font-weight: bold;
}
.smp-pills li ul li a{
    color:#808080;
}
.smp-pills li ul li a i{
    color:#014e76;
    padding-right:10px;
}
.smp-pills li ul li{
    border-bottom:solid 1px #ddd;
}
.smp-pills li.active{
    border-bottom: solid 3px #66cc66;
}
.smp-pills li a:hover, .smp-pills li a:focus, .smp-footer-links a:hover, .social-media a:hover{
    color: #66cc66;
    background-color: #014e76;
}
.smp-pills .open > a:hover, .smp-pills .open > a:focus{
    color: #66cc66;
    background-color: #014e76 !important;
}
.shareIcons .jssocials-share.jssocials-share {
     padding: 3px;
}
li.list-group-item.active a {
    color: #fff;
}
.fnt-green{
    color:#66cc66;
}
.fnt-blue{
    color:#014e76;
}

.smp_inline {
    width: 25%;
    float: left;
    margin-left: 10px;
}
.smp-mg-bottom{
    margin-bottom:30px;
}
.smpl-brdr-right {
    border-radius: 0px 16px 16px 0px;
    right: 3px;
    position: relative;
}
.smpl-brdr-left {
    letter-spacing: 1px;
    border-radius: 16px 0px 0px 16px;
}
a[aria-expanded='true'] .fa-plus{
    display:none;
}
a[aria-expanded='false'] .fa-plus{
    display:block !important;
}
a[aria-expanded='false'] .fa-minus{
    display:none;
}

a[aria-expanded='true'] .fa-minus{
    display:block !important;
}
.field-searcheditorial-e_title, .field-searchhappystories-story_text, .editorial-story{
    display: inline-block;
}
.editorial-story{
    margin: 10px;
}
.explore li a{
    color: #ffcc33 !important;
}
.explore li i{
    color: #66cc66 !important;
}
li.selected {
    /* background-color: antiquewhite; */
    margin:0px;
    border:none; 
    box-shadow:none; 
    background-color: transparent;
    width: -moz-fit-content;
}
li.selected a {
    color: #66cc66 !important;
}
li.selected span{
    border-bottom: 3px solid #66cc66;
    padding: 3px 3px;
}
.editorial-create{
    width: 90%;
    margin:auto;
}
#demo li a:hover{
    color: #66cc66;
    background-color: transparent;
    width: -moz-fit-content;
}
#demo li a{
    padding: 10px 0px;
}
.text-success {
    color: #66cc66;
}
.list-icon>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block !important;
}
p.list-group-item-text {
    padding: 0px 0px 10px;
}
li.list-group-item a>div {
    display: inline-block;
    margin-right:10px;
}
.message {
     /*max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #ddd;*/
    border-radius: 5px;
    background: #383838;
}
div ::-webkit-scrollbar {
    width: 5px;
}

div ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #888; 
}
li.list-group-item a{
    text-decoration:none;
    color:#000;
    cursor:pointer;
}
ul.collapse.detail {
    border: solid 10px #ddd;
    padding: 10px;
    margin: 10px 0px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    list-style-type: none;
    font-size: 12px;
}
.list-group-item.active .detail  .list-group-item-text{
    color:#000;
}
.smp-igrant{
    width: 90%;
    margin: auto;
}
.smp-igrant img {
    width: 100px;
    height:100px;
    margin:5px;
}
li.media.media_textbox {
    width: 100%;  /* new message box */
    display: inline-block;
}
li.media.media_button{
  width: 9%;
  display: inline-block;
  position: relative;
  top: -14px;
}
.gravatar a {
  width: 90px;
  margin: 5px;
  display: inline-block;
}

.wishDefault{
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.wishDefault a{
    margin: 5px 15px;
}
.gravatar {
  width: 100%;
  margin: 20px 0px;
}

.selected{
 border: solid 3px #0cb370; 
 box-shadow: 0px 0px 10px #888888;
}
/* Arivazhagan for new Singup and edit profile Duplicate logo */
.profilelogo{
	cursor:pointer;	
}
.smpl-wish-block.thumbnail>div:first-child {
 height: 115px;
 overflow: hidden;
}

.smp_about_slide {
 text-align:center;
}
.smp_about_slide img {
  width: 150px;
  margin: 5px;
}
.smp-footer-links a {
  color: #ffcc33;
  text-decoration: none;
}
.about-arw-link{
	width:7%;
	display:inline-block;
}
.about-arw-link img{
	width:40px;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.edit{
    background-color:#f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 20px;
    margin: 20px 10px;
}
.editV{
    padding: 10px;
}
.edit>img{
    border: solid 2px #66cc66;
}
.a-button {
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
}
.a-button:focus {
  border: none !important;
}
.webShareIcons.jssocials {
  float: right;
  font-size: x-large;
}
.navbar-collapse{
    margin-top: 3%;
}
video {
    width: 90%;
    height: auto;
}
.site-about{
    margin:auto;
    width: 75%;
    text-align: justify;
}
.searchBlock{
    padding-top: 20px
}
.tell-ur-story{
    margin-top: 20px;
}

/******* Styles Added for New Template ******/
.fa-10x{
    font-size:3em !important;
}
.fa-6x {
  font-size: 3em !important;
}
.my-profile{
	background-color:#eee;
}
.link-thumb a{
	font-size:12px;
	text-decoration:none;
	color:#000;
}
.link-thumb a i {
  display: block;
  background-color: #fff;
  padding: 4px 0px;
}
.link-thumb {
  margin-bottom: 10px;
  text-align:center;
  display:inline-block;
}
.fnt-grey {
  color: grey;
}
.fnt-orange{
	color:orange;
}
.fnt-pink {
  color: #bf65ab;
}
.fnt-grn-yellow {
  color: #c1c14d;
}
.fnt-brown {
  color: #923e54;
}
.fnt-sea{
	color:#7880e8;
}
.link-thumb-contain {
  background-color: #fff;
  padding: 15px 5px;
}
.link-thumb-contain a i{
	display:block;
}
.link-thumb-contain a{
	text-decoration:none;
	color:#000;
}
.link-thumb-contain>div {
  text-align: center;
  margin-bottom: 20px;
  display:inline-block;
}
.edit a {
  color: #66cc66;
  text-decoration: none;
}
.edit p:nth-child(1) {
  font-weight:bold;
  font-size: 20px;
}
.edit p:nth-child(2) img, .dpic img {
  width: 30px;
  border-radius: 50%;
}
.social-icons-edit i{
	padding-right:10px;
	text-decoration:none;
}
.socialimg {
  margin-top: 39px;
}
.wishimgsize a > img {
  min-height: 153px;
  width: 100%;
}

.happystory{
  background-color:#f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 20px;
}
.happystory>img{
  border: solid 2px #0cb370;
}
.shareIcons {
 /******* margin-top: 70px; *******/
 text-align: center;
}
.editrightimg img {
  border: 2px solid #0cb370;
  min-height: 125px;
}
.iwish_tpl{
    margin: auto;
    margin-top: 20px;
}
.iwishItems{
    display: inline-block;
    border: 1px solid #ddd;
    margin: 10px;
}
.iwishItems p{
    text-align: center;
}

/******* shareicon css *******/

.shareiconhover img {
  float: right;
  margin-top: 16px;
  margin-left: 13px;
  cursor:pointer;
}


.newmsg{
  font-weight:bold;
}
.newmsg span{
  margin-left: 100px;
}

.report-img img{
  float: right;
  margin-right: 10px !important;
  width: 20px;
  cursor:pointer;
}	

.aboutImage {
    float : right;
}
/******* constant image size css for frienduser *******/
#frienduser{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 20px;
    background: #f5f5f5;
}
.atagcolor{
	color: #337ab7 !important;
}
.imagesize{
	height:100px;	
}
.sum-font-size{
	font-size:20px;	
}
.listesinside
{
    width: 30px;
    margin-bottom: 7px;
    height: 33px;
    margin-left: 1px; 
    padding-top: 3px;
}
.removelistesinside
{
    width: 30px;
    margin-bottom: 4px;
    height: 30px;
    margin-left: 0px !important;
    padding-top: 0px !important;
}
.readedmsg{	
    background-color: #7b7b7c;	
}

.readedmsg span{
  margin-left: 100px;
}

.modal-body{
    height: 450px;
    overflow: auto;
}
.nav > li > a {
    font-size: 16px;
}
/******* Styles Added for New Template END POINT ******/

/***** Responsive Navbar Starts ******/

/*.smp-head .container-fluid, .navbar-collapse{
  padding: 0px;
  }*/
.smp-logo a img{
  width: 100%;
}
.smp-footer-links{
  float: right;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
  }
  .navbar-header{
      margin-top: 10px;
  }
  .remove-unfollow{
          border-radius: 2px;
          padding: 6px 8px;
          font-size: 10px;
          letter-spacing: 1px;
      }
      .appIcon{
          width: 200px;
      }
  /***** Responsive Navbar Starts for Chrome Browser******/
@media screen and (min-width: 1050px) {
    .slide_h4{
      margin-left: -50px;
      color: #014e76;
    }
}

@media screen and (min-width: 768px) {
    .notification{
        background-color: #fa3e3e;
        border-radius: 2px;
        color: white;
        padding: 8px 4px;
        font-size: 10px;
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 999;
    }
}
@media screen and (max-width: 768px) {
    .smp-footer-links{
        padding-bottom: 10px;
    }
    h3{
        font-size: 20px;
    }
}
  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 768px) and (max-width: 1024px) {
    .smp-head{
      padding-top: 0px;
    }
    .smp-head .col-md-4{
      width: 100% !important;
      padding: 0px;
    }
    .smp-head .col-md-8{
      width: 100% !important;
    }
    .smp-logo a img{
      width: 100%;
    }
    .smp-head .container{
      font-size: 12px;
    }
    .smpl-brdr-right, .smpl-brdr-left{
      font-size: 12px !important;
    }
    .slick-next {
      right: -20px !important; 
    }
    .slick-prev {
      left: -20px !important;
    }
    #gridheight{
      height: 100% !important;
    }
    footer p{
      text-align: center;
    }
    .smp-footer-links {
      float: none;
      text-align: center;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 481px) and (max-width: 767px) {
    .smp-head .col-md-4{
      width: 100% !important;
      padding: 0px;
    }
    .smp-head .col-md-8{
      width: 100% !important;
    }
    .navbar-toggle {
      border-color:  #1085bf;
      top: 10px;
    }
    .navbar-collapse,  .navbar-form {
      border-color: #014e76;
      margin-top: 6%;
        background-color: #014e76;
    }
    .nav > li {
        padding: 10px;
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color:  #66cc66;
    }
    footer p{
      text-align: center;
    }
    .smp-footer-links {
      float: none;
      text-align: center;
    }
    #gridheight{
      height: 100% !important;
    }
    .slick-prev {
      left: -15px !important;
    }
    .slick-next {
      right: -15px !important;
    }

  }

  @media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 360px) {
      .link-thumb-contain {
        font-size: 10px;
    }
    .smp-igrant img {
        width: 90px;
        height: 90px;
        margin:5px;
    }
    .btn{
        font-size: 10px;
    }
  }
  @media screen and (min-width : 360px) and (max-width: 480px) {
      .link-thumb-contain {
        font-size: 12px;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 992px) {
      .aboutImage {
          float: none;
          margin: auto;
    }
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 480px) {
    .smp-head{
      padding-top: 0px;
    }
    .appIcon{
          width: 100px;
      }
      
    .smp-head .col-md-4{
      width: 100% !important;
      padding: 0px;
    }
    .smp-head .col-md-8{
      width: 100% !important;
    }
    .smp-logo a img{
      width: 100%;
    }
    .navbar-collapse, .navbar-form {
      border-color: #014e76;
    }
    .navbar-collapse{
        margin-top: 10%;
        background-color: #014e76;
    }
    .nav > li{
        padding: 10px;
    }
    .navbar-toggle {
      border-color:  #1085bf;
      top: 10px;
    }
    .navbar-toggle:hover {
      background-color:  #66cc66;
    }
    .slide_header {
      font-size: 15px ;
    }
    .slide_h4{
        font-size: 12px;
    }
    .shareicon-home{
      width: 20px !important;
    }
    .slick-next {
      right: 0px !important; 
    }
    .slick-prev {
      left: 0px !important;
    }
    .smp-foot .container-fluid .col-md-12{
      padding: 0px;
      }​
      p.copyright {
        font-size: 13px;
      }
      .smp-foot p{
        text-align: center;
        font-size: 11px;
      }
      .smp-footer-links{
        text-align: center;
        padding-bottom: 10px;
      }
      .smp-footer-links li {
        font-size: 10px;
        padding-right: 0px;
      }
      .navbar-header{
        margin-right: 0px !important;
      }
      .smp-pills li.active a{
        padding: 6px;
      }
      .smp-pills{
        padding: 20px;
      }
      .smp-pills li a{
        padding: 8px;
      }
      .join, .login{
        padding: 0px !important;
      }
      .btngroup{
        margin-top: 10px;
      }
      button#multi_delete {
        font-size: 7px;
        padding: 4px 4px;
      }
      #sendmessage button{
        font-size: 7px;
        padding: 4px 4px;
        margin-top: -5px;
      }
      .message #select_all{
        margin: 0px;
      }
      #gridheight{
        height: 100% !important;
      }
      .smp-mg-bottom {
        font-size: 12px;
      }
      .media-body {
        display: inline;
      }
      .media:first-child {
        margin-top: 13px;
      }
                
    .navbar-nav .dropdown-menu{
        display: block;
        position: static;
        background-color:transparent;
        border:0 none;
        box-shadow:none;
        margin-top:0;
        position:static;
        width:100%;
    }
    .navbar-nav .dropdown-menu > li > a, 
    .navbar-nav .dropdown-menu .dropdown-header {
        padding:5px 15px 5px 25px;
    }
    .navbar-nav .dropdown-menu > li > a{
        line-height:20px;
    }
    .navbar-default .navbar-nav .dropdown-menu > li > a{    
        color:#777;
    }
    }

    /***** Responsive Navbar Ends Chrome Browser******/
.item {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    z-index:0;
}
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    z-index: 99999;
    filter: alpha(opacity=80);
    display: none;
}
#loading {
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}
@media(min-width:640px){
    #item1{
        position: absolute;
        width: 100%;
        height: 250px;
        background: url('../images/banner/banner1_2.png') no-repeat;
        background-size: 100% 100%;
    }
    /*#item2{
        background-image: url('../images/banner/banner2_3.jpg');
    }
    #item3{
        background-image: url('../images/banner/banner3_3.jpg');
    }
    #item4{
        background-image: url('../images/banner/banner4_3.jpg');
    }
    #item5{
        background-image: url('../images/banner/banner5_3.jpg');
    }*/
    #background-carousel{
        height: 250px;
    }
    .slide_header{
        margin-top: 65px;
    }
    .join_button{
        margin-top: 180px;
    }
}
@media(max-width:640px){
    #item1{
        position: absolute;
        width: 100%;
        height: 120px;
        background: url('../images/banner/banner1_1.png') no-repeat;
        background-size: 100% 100%;
    }
    /*#item2{
        background-image: url('../images/banner/banner2_2.jpg');
    }
    #item3{
        background-image: url('../images/banner/banner3_2.jpg');
    }
    #item4{
        background-image: url('../images/banner/banner4_2.jpg');
    }
    #item5{
        background-image: url('../images/banner/banner5_2.jpg');
    }*/
    #background-carousel{
        height: 120px;
    }
    .slide_header{
        margin-top: 35px;
    }
    .join_button{
        margin-top: 80px;
        font-size: 12px;
    }
}
@media(max-width:380px){
    /*#item1{
        background-image: url('../images/banner/banner1_1.jpg');
    }
    #item2{
        background-image: url('../images/banner/banner2_1.jpg');
    }
    #item3{
        background-image: url('../images/banner/banner3_1.jpg');
    }
    #item4{
        background-image: url('../images/banner/banner4_1.jpg');
    }
    #item5{
        background-image: url('../images/banner/banner5_1.jpg');
    }*/
    .slide_header{
        margin-top: 25px;
    }
    .join_button{
        margin-top: 70px;
        font-size: 10px;
        padding: 2px 6px;
    }
}
@-moz-document url-prefix() { 
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        .smp-head{
          padding-top: 0px;
        }
        .smp-head .col-md-4{
          width: 100% !important;
          padding: 0px;
        }
        .smp-head .col-md-8{
          width: 100% !important;
        }
        .smp-logo a img{
          width: 100%;
        }
        .smp-head .container-fluid{
          font-size: 12px;
        }

        .smpl-brdr-right, .smpl-brdr-left{
          font-size: 12px !important;
        }
        .slick-next {
          right: -20px !important; 
        }
        .slick-prev {
          left: -20px !important;
        }
        #gridheight{
          height: 100% !important;
        }
        footer p{
          text-align: center;
        }
        .smp-footer-links {
          float: none;
          text-align: center;
        }
      }

      @media screen and (min-width: 481px) and (max-width: 767px) {
        .smp-head .col-md-4{
          width: 100% !important;
          padding: 0px;
        }
        .smp-head .col-md-8{
          width: 100% !important;
        }
        .navbar-toggle {
          border-color:  #1085bf;
          top: 10px;
        }
         .navbar-collapse, .navbar-form {
          border-color: #014e76;
        }
         .navbar-toggle:hover, .navbar-toggle:focus {
          background-color:  #66cc66;
        }
        footer p{
          text-align: center;
        }
        .smp-footer-links {
          float: none;
          text-align: center;
        }
        #gridheight{
          height: 100% !important;
        }
        .slick-prev {
          left: -15px !important;
        }
        .nav > li {
        padding: 10px;
    }
        .slick-next {
          right: -15px !important;
        }
      }

      @media screen and (max-width: 480px) {
          .nav-tabs > li {
        float:none;
    }
        .smp-head{
          padding-top: 0px;
        }
        .smp-head .col-md-4{
          width: 100% !important;
          padding: 0px;
        }
        .smp-head .col-md-8{
          width: 100% !important;
        }
        .smp-logo a img{
          width: 100%;
        }
         .navbar-collapse, .navbar-form {
          border-color: #014e76;
          margin-top: 6%;
            background-color: #014e76;
        }
        .navbar-toggle {
          border-color:  #1085bf;
          top: 10px;
        }
        .navbar-toggle:hover, .navbar-toggle:focus {
          background-color:  #66cc66;
        }
        .slide_header {
          font-size: 15px ;
        }
        .slide_h4{
            font-size: 12px;
        }
        .slick-next {
          right: 0px !important; 
        }
        .slick-prev {
          left: 0px !important;
        }
        .nav > li {
        padding: 10px;
    }
        .smp-foot .container-fluid .col-md-12{
          padding: 0px;
          }​
          p.copyright {
            font-size: 13px;
          }
          .smp-foot p{
            text-align: center;
            font-size: 11px;
          }
          .smp-footer-links{
            padding: 0px;
            text-align: center;
          }
          .smp-footer-links li {
            font-size: 10px;
            padding-right: 0px;
          }
          .navbar-header{
            margin-right: 0px !important;
          }
          .smp-pills li.active a{
           padding: 7px;
         }
         .smp-pills{
          padding: 20px;
        }
        .smp-pills li a{
         padding: 8px;
       }
       .join, .login{
        padding: 0px !important;
      }
      .btngroup{
        margin-top: 10px;
      }
      button#multi_delete {
        font-size: 7px;
        padding: 4px 4px;
      }
      #sendmessage button{
        font-size: 7px;
        padding: 4px 4px;
        margin-top: -5px;
      }
      .message #select_all{
        margin: 0px;
      }
      #gridheight{
        height: 100% !important;
      }
      .smp-mg-bottom {
        font-size: 12px;
      }
      .media-body {
        display: inline;
      }
      .media:first-child {
        margin-top: 13px;
      }
    }
}
  
.container-fluid.nav-without-image-hmepge {
   padding: 0px;
}
.paddingalign{
padding-right: 0px !important;
padding-left:0px !important;
}

.const-img-size {
    max-height: 150px;
}

.valid-star-color {
    color:red; 
}

.valid-star {
content: "<span class='valid-star-color' >*</span> ";
}

.marginPos{
    margin-top: 4%;
}

#myBtn {
    display: none; /* Hidden by default */
    opacity: 0.8;
    position: fixed; /* Fixed/sticky position */
    bottom: 120px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #66cc66; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 5px; /* Rounded corners */
}
#arrow_home{
    opacity: 0.8;
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
}
.floatLeft{
    float: left;
}
.paddingLeft{
    padding-left: 10px;
}
@media screen and (max-width: 767px) {
    .notification{
        background-color: #fa3e3e;
        border-radius: 2px;
        color: white;
        padding: 8px 4px;
        font-size: 10px;
        position: absolute;
        top: -3px;
        z-index: 999;
    }
}
.label{
    color:#000;
}
.inboxNotification{
    color: white;
    background: red;
    padding: 3px;
    border-radius: 3px;
    font-size: 10px;
}
.message .list-group-item {
    color: #fff;
    border: 3px solid #383838
}
.Mname{
    color: #ffcc33;
    display: inline-block;
    font-size: 14px;
}
.smp_expand span{
    font-size: 11px;
}
input.checkBoxClass {
    float: left;
    margin-top: 4%;
    margin-right: 8px;
}
.message .list-icon{
    float: left;
    margin-top: 2%;
    margin-right: 10px;
}
.message .list-group-item-heading {
    margin-top: 2%
}
.list-icon a img {
    max-width: 40px;
    max-height:40px;
    border-radius: 100%;
}
.pointerclass{
    cursor: pointer;
}
.unread{
    background: #383838;
    border-left: 7px solid green;
}
#inboxmailtab .mainTab, #sentmailtab .mainTab{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    height:55px;
    border-radius: 5px;
    background-color: #dddee0;
}
.media{
    margin-top: 0px;
    padding-left: 10px;
}
.media-heading{
    color:#ffcc33;
}
.media_textbox{
    margin-top: 10px;
}
.send-msg{
    margin-right: 25px;
    margin-top: 10px;
}
.file-btn{
    position: relative;
}
.file-btn input[type="file"]{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
input[type="file"] {
    cursor: pointer;
}
.workarea-cropbox, .bg-cropbox{
    height: 300px;
    min-height: 300px;
    width: 300px;
    min-width: 300px;
}
.homeWishTpl{
    text-align: center;
    padding: 15px;
}
.homeWishTpl .wishImage{
    height: 200px;
    margin: auto;
    width: 100%;
}
.tplColor{
    background-color: #f5f5f5;
}
.homeTplBlk{
    transition: transform 0.5s;
}
.homeTplBlk:hover{
    transform: scale(1.05);
}
.tplColor:hover{
    box-shadow: 0px 0px 10px #888888;
}
.likeBlock span{
    margin-left: 20px;
}
.likeBlock{
    padding: 10px;
}
.likesView{
    cursor: pointer;
    color: #337ab7;
}
.likesView:hover{
    color: #5cb85c;
}
.image_block{
    padding-bottom: 20px;
}
.social-media a{
    text-decoration: none;
    color: #ffcc33;
    padding: 5px;
}
.social-media{
    text-align: center;
}
.upload-buttons{
    margin-top: 10px;
}
.joinToday{
    margin-left: 10px;
}
.txt-smp-orange:hover, .txt-smp-green:hover, .txt-smp-pink:hover, .txt-smp-blue:hover, .listesinside:hover{
    cursor: pointer;
}
.const-img-size-test{
    margin: auto;
}
.articleBlock{
    width: 90%;
    margin: auto;
    text-align: justify;
}
.page-view{
    text-align: justify;
}
.wishCardBlk{
    position: relative;
}
.wisherName{
    position: absolute;
    left: 45px;
}
.editComment, .editReplyComment{
    cursor: pointer;
    color: #337ab7;
    padding-left: 10px;
    font-size: 10px;
}
.deleteComment{
    cursor: pointer;
    color: #337ab7;
    font-size: 10px;
}
.deleteReplyComment{
    font-size: 10px;
}
.inProgress{
    cursor: default;
}
.inProgress:hover{
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.wish-view{
    width: 90%;
    margin: auto;
}
.wish-header{
    padding-left: 15px;
}
.grid{
    margin-top: 30px;
}
.list-group:not(.msg-blk){
    margin-top: 30px;
}
.msg-close{
    cursor: pointer;
}
.profile-img{
    border-radius: 50%;
}
.intro_text{
    padding-top: 10px;
    text-align: center;
}
.video-icon{
    position: relative;
    display: inline-block;
    height: 150px;
}
.vImage{
    height: 100%;
}
.intro_videos a:hover .glyphicon{ 
    color: #014e76;
}
.editV a:hover .glyphicon{
    color: #014e76;
}
.intro_videos span{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 38%;
    left: 45%;
}
.editV .glyphicon{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 32%;
    left: 40%;
}
.newtest{
    text-align: center;
}
.commentOptions{
    cursor: pointer;
    color: #66cc66;
    font-size: 12px;
}
.on-reply, .commentHeart, .commentDate{
    padding-left: 5px;
}
.commentHeart{
    color: #B23535;
    font-size: 11px;
}
.commentDate{
    color: #c6c6c6;
    cursor: auto;
}
.on-reply:hover, .loveComment:hover, .cmtLikesView:hover{
    text-decoration: underline;
}